#flex-container{
	display: flex;
	justify-content:flex-start;
	 padding-left: 150px;
	 background-color: #f4df42;
}
.color{
	/*/*background-color: green;*/
	/*padding: 20px;*/
	justify-content:center;
	
}

.hi{
  justify-content:flex-start;
  /*display: flex;*/
  flex-direction: column;
  padding-left: 100px;
}
#submit{
	position: relative;
	left: 71px;
	border: none;
	width: 200px;
	padding: 10px;
	font-size: 20px;
	background-color: grey;
}



.get{
	margin-left: 50px;
	padding-right:5px;
}
select{
	width: 185px;
}