.grid-container{
	display: inline-grid;
	grid-template-columns: 100px 100px 100px 100px 100px;
	grid-template-rows: 100px 100px 100px;
	grid-row-gap: 10px;
	grid-column-gap: 10px;
	border-style: solid;
	background-color: black;
  
}
.grid-container > div{
	
}
.grid-container1{
	display: grid;
	grid-template-columns: 10px 10px 10px;
	grid-template-rows:10px 10px 10px 10px;
	grid-column-gap: 5px;


}
.grid-container1 > div {

}
.grid-container2{
	display: grid;
	grid-template-rows:10px 10px 10px 10px ;
	
	
}
.grid-container2 > div {

}
.grid-container3{
	display: grid;
	grid-template-columns: 10px 10px 10px;
	grid-template-rows:10px 10px 10px 10px;
	grid-row-gap: 5px;
	
}
.grid-container3 > div {

}
.grid-container4{
	display: grid;
	grid-template-rows:10px 10px 10px 10px;
	
}
.grid-container4 > div {

}
.grid-container5{
	display: grid;
	grid-template-columns: 10px 10px 10px 10px 10px; 
	grid-template-rows:10px 10px 10px 10px;
	
}
.grid-container5 > div {

}
.grid-container6{
	display: grid;
	grid-template-columns: 10px 10px 10px 10px 10px; 
	grid-template-rows:10px 10px 10px 10px;
	
}
.grid-container6 > div {

}

.items1{
	grid-column-start: 1;
	background-color: white;
	border: solid;



}
.itemsa{
	width: 10px;
	height: 10px;
	grid-column-start: 1;
	grid-row-start: 5;
	background-color: #6cabe2;
	border:solid 1px;
	
}
.itemsb{
	width: 10px;
	height: 10px;
	grid-column-start: 2;
	grid-row-start: 5;
	background-color: #6cabe2;
	border:solid 1px;

}
.itemsc{ 
	width: 10px;
	height: 10px;
	grid-column-start: 3;
	grid-row-start: 5;
	background-color: #6cabe2;
	border:solid 1px;
	
}

.items2{
	grid-column-start: 2;
	background-color: white;
	border: solid;
	


}
.itemsd{
	width: 10px;
	height: 10px;
	grid-column-start: 16;
	grid-row-start: 5;
	background-color: #e2ca68;
	border:solid 1px;
	
}
.itemse{
	width: 10px;
	height: 10px;
	grid-column-start: 17;
	grid-row-start: 5;
	background-color: #e2ca68;
	border:solid 1px;
	
}
.itemsf{ 
	width: 10px;
	height: 10px;
	grid-column-start: 18;
	grid-row-start: 5;
	background-color: #e2ca68;
	border:solid 1px;

}

.items3{
	grid-column-start: 4;
	background-color: white;
	border: solid;
	

}

.items4{
	grid-column-start: 5;
	background-color: white;
	border: solid;
	

}
.itemsg{
	width: 10px;
	height: 10px;
	grid-column-start: 4;
	grid-row-start: 3;
	background-color: #e2ca68;
	border:solid 1px;
	
}
.itemsh{
	width: 10px;
	height: 10px;
	grid-column-start: 4;
	grid-row-start: 4;
	background-color: #e2ca68;
	border:solid 1px;
	
}
.itemsi{ 
	width: 10px;
	height: 10px;
	grid-column-start: 4;
	grid-row-start: 5;
	background-color: #e2ca68;
	border:solid 1px;

}
.itemsj{
	width: 10px;
	height: 10px;
	grid-column-start: 2;
	grid-row-start: 5;
	background-color: #6cabe2;
	border:solid 1px;
	
}
.itemsk{
	width: 10px;
	height: 10px;
	grid-column-start: 3;
	grid-row-start: 5;
	background-color: #e2ca68;
	border:solid 1px;
	
}
.itemsl{ 
	width: 10px;
	height: 10px;
	grid-column-start: 4;
	grid-row-start: 5;
	background-color: #6cabe2;
	border:solid 1px;

}
.itemsm{
	width: 10px;
	height: 10px;
	grid-column-start: 2;
	grid-row-start: 5;
	background-color: #6cabe2;
	border:solid 1px;
	
}
.itemsn{
	width: 10px;
	height: 10px;
	grid-column-start: 3;
	grid-row-start: 5;
	background-color: #6cabe2;
	border:solid 1px;
	
}
.itemso{ 
	width: 10px;
	height: 10px;
	grid-column-start: 4;
	grid-row-start: 5;
	background-color: #e2ca68;
	border:solid 1px;

}
.itemsp{
	width: 20px;
	height: 10px;
	grid-column-start: 2 / span 3;
	grid-row-start: 5;
	background-color: #6cabe2;
	border:solid 1px;
	
}
.itemsq{
	width: 10px;
	height: 10px;
	grid-column-start: 4;
	grid-row-start: 5;
	background-color: #6cabe2;
	border:solid 1px;
	
}
.itemsr{ 
	width: 10px;
	height: 10px;
	grid-column-start: 6;
	grid-row-start: 5;
	background-color: #6cabe2;
	border:solid 1px;

}
.itemss{
	width: 10px;
	height: 10px;
	grid-column-start: 2;
	grid-row-start: 5;
	background-color: #e2ca68;
	border:solid 1px;
	
}
.itemst{
	width: 10px;
	height: 10px;
	grid-column-start: 5;
	grid-row-start: 5;
	background-color: #e2ca68;
	border:solid 1px;
	
}
.itemsu{ 
	width: 10px;
	height: 10px;
	grid-column-start: 10;
	grid-row-start: 5;
	background-color: #e2ca68;
	border:solid 1px;

}
.items5{
     padding-left: 90px;
     justify-content: center;
     color: grey;
}
div{
	padding:1px;

}

